<h1 mat-dialog-title>Importar requisición</h1>
<div mat-dialog-content>
    <p >¿Importar datos de la requisición <strong>{{requisicion}}</strong>?</p>
    <ul style="margin-bottom: 50px;">
        <li>Partida</li>
        <li>Número de proyecto</li>
        <li>Descripción</li>
        <li>Empleado solicitante</li>
        <li>Empleado que autoriza</li>
    </ul>
</div>
<ng-container>
    <span class="buttons-layout-left-top">
      <button mat-mini-fab color="accent" id="btn-back" (click)="onNoClick()" matTooltip="Cancelar" matTooltipPosition="after">
        <mat-icon>close</mat-icon>
      </button>
    </span>
</ng-container>
<button  class="btn-guardar-provee" mat-mini-fab  (click)="onClick()" matTooltip="Importar" matTooltipPosition="before" style="float: right;">
    <mat-icon>check</mat-icon>
</button>


