<!-- <h1 mat-dialog-title>Eliminar justificación</h1> -->
<div mat-dialog-content>
  <p>Replicar justificación: <strong>{{data.identificador}}</strong>?</p>
  <form #identificadorForm="ngForm" novalidate>
    <mat-form-field style="margin-bottom: 30px;">
      <input rapido placeholder="Identificador" matInput [(ngModel)]="replica" pattern="^[a-zA-Z0-9_.-]{5,20}$" name="identificador_rapido" #identificador_rapido required>
      <mat-hint align="start">Letras, números y guión</mat-hint>
      <mat-hint align="end">{{identificador_rapido.value.length}} / 20</mat-hint>
      <mat-error>
        Deben ser número y letras
      </mat-error>
    </mat-form-field>
  </form>
</div>

<!--
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="replica" (click)="onClick()" cdkFocusInitial [disabled]="identificadorForm.form.invalid">Replicar</button>
</div>
-->

<ng-container>
    <span class="buttons-layout-left-top">
      <button mat-mini-fab color="accent" id="btn-back" (click)="onNoClick()" [mat-dialog-close]="data.id" matTooltip="Cancelar" matTooltipPosition="after">
        <mat-icon>close</mat-icon>
      </button>
    </span>
</ng-container>

<button  class="btn-guardar-provee" mat-mini-fab  (click)="onClick()" matTooltip="Replicar" [mat-dialog-close]="replica"
         matTooltipPosition="above" style="float: right;" cdkFocusInitial [disabled]="identificadorForm.form.invalid">
  <mat-icon>check</mat-icon>
</button>