<mat-progress-bar #matBuffer value="0" [bufferValue]="valueBuffer" mode="buffer" xmlns="http://www.w3.org/1999/html"></mat-progress-bar>

<mat-sidenav-container mode="over" *ngIf="justificacion" >
<!-- (ngSubmit)="onSubmit(justificacionForm)"  novalidate -->

    <!--
  <ng-container>
    <div class="buttons-layout-left-top">
      <button mat-mini-fab color="accent" id="btn-back" (click)="backToTable()" matTooltip="Regresar a solicitudes" matTooltipPosition="after">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </ng-container>
    -->

  <form #editForm="ngForm" >
        <mat-horizontal-stepper linear="true" > <!--  -->

            <!-- Datos generales -->
            <mat-step label="Justificación" [completed]="groupGeneral.valid && editForm.form.pristine">

      <div class="subtitulos-tabs">Definir la necesidad o requerimiento
      </div>
        <!--
          <mat-icon *ngIf="groupGeneral.valid">done</mat-icon>
          <mat-icon *ngIf="!groupGeneral.valid">clear</mat-icon>
        -->

        <div  ngModelGroup="groupGeneral" #groupGeneral="ngModelGroup">

            <!-- <div class="subtitulos-tabs" > --> <!--[class.notificando]="!canEditar()"-->

          <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="25px">
          <mat-form-field class="flex-none" style="width: 200px;">
            <input matInput placeholder="Identificador" name="identificador" [(ngModel)]="justificacion.identificador" required>
          </mat-form-field>

          <mat-radio-group name="bien_servicio" [(ngModel)]="justificacion.bien_servicio" class="flex-none">
            <mat-radio-button color="primary"  name="cero" [value]="0" style="padding-right: 25px;">Bien</mat-radio-button>
            <mat-radio-button color="primary" name="uno" [value]="1" >Servicio</mat-radio-button>
          </mat-radio-group>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-form-field>
            <textarea #descripcion mat-autosize mat-autosize maxlength="4000" matInput placeholder="Descripción" [(ngModel)]="justificacion.descripcion" name="descripcion" required></textarea>
            <mat-hint align="end">{{descripcion.value.length}} / 4000</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" >
          <mat-form-field style="    padding-top: 10px;">
            <textarea mat-autosize #razoncompra maxlength="3000" matInput placeholder="Razón y/o utilidad de la compra" [(ngModel)]="justificacion.razon_compra" name="razon_compra" required></textarea>
            <mat-hint align="end">{{razoncompra.value.length}} / 3000</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
          <mat-form-field >
            <mat-select placeholder="Empleado solicitante" [(ngModel)]="justificacion.elaboro_id" name="solicitante" required>
              <mat-option *ngFor="let solicitante of empleados" [value]="solicitante.id">
                {{solicitante.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <mat-select placeholder="Empleado que autoriza (responsable del proyecto)"
                        [(ngModel)]="justificacion.autorizo_id" name="emp_autorizo" required>
              <mat-option *ngFor="let autoriza of empleados" [value]="autoriza.id">
                {{autoriza.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Puesto/cargo de quien autoriza" name="puesto" [(ngModel)]="justificacion.autoriza_cargo" required >
          </mat-form-field >
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" >
          <mat-form-field >
            <textarea mat-autosize #condiciones_pago maxlength="2000" matInput placeholder="Condiciones de pago"
                      [(ngModel)]="justificacion.condiciones_pago" name="condiciones_pago" required></textarea>
              <mat-hint align="start" >Como se va a pagar. E.g. Contra entrega, Contra factura, Reporte entregrado, etc.</mat-hint>
            <mat-hint align="end">{{condiciones_pago.value.length}} / 2000</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="25px">
          <label>Plazos para entrega</label>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" >
          <mat-radio-group name="plazos" [(ngModel)]="justificacion.plazo" >
            <mat-radio-button color="primary" name="plazo_1" [value]="1">Fecha tope</mat-radio-button>
            <mat-radio-button color="primary"  name="plazo_0" [value]="0">Periodo</mat-radio-button>
            <mat-radio-button color="primary"  name="plazo_2" [value]="2">A tantos días</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" style="padding: 30px;">
          <mat-form-field class="flex-none" *ngIf="justificacion.plazo == 0" style="width: 200px;">
            <input name="fechaInicio" matInput [matDatepicker]="pickerInicio" placeholder="Fecha de inicio"
                   [(ngModel)]="justificacion.fecha_inicio" required>
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="flex-none" *ngIf="justificacion.plazo <= 1"  style="width: 200px;">
            <input name="fechaTermino" matInput [matDatepicker]="pickerTermino" placeholder="Fecha de término"
                   [(ngModel)]="justificacion.fecha_termino" required>
            <mat-datepicker-toggle matSuffix [for]="pickerTermino"></mat-datepicker-toggle>
            <mat-datepicker #pickerTermino></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="flex-none" *ngIf="justificacion.plazo == 2" style="width: 160px;">
            <input matInput class="right" placeholder="Días" name="num_dias_plazo" [(ngModel)]="justificacion.num_dias_plazo" required
                   type="number" min="1" max="90" >
            <span matPrefix># &nbsp;</span>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" >
          <mat-form-field >
            <textarea mat-autosize  #terminos_entrega maxlength="2000" matInput placeholder="Térmimos de entrega"
                      [(ngModel)]="justificacion.terminos_entrega" name="terminos_entrega" required></textarea>
              <mat-hint align="start" >Como se va a entrgar el bien o servicio. E.g. En una sola exhibición, Subcontratado asiste de lunes a viernes, etc.</mat-hint>
            <mat-hint align="end">{{terminos_entrega.value.length}} / 200</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" >
          <mat-form-field >
            <textarea mat-autosize  #lugar_entrega maxlength="2000" matInput placeholder="Lugar de entrega"
                      [(ngModel)]="justificacion.lugar_entrega" name="lugar_entrega" required></textarea>
            <mat-hint align="end">{{lugar_entrega.value.length}} / 200</mat-hint>
          </mat-form-field>
        </div>

            <div class="subtitulos-tabs">Documentos anexados</div>

            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="25px" >
                <table mat-table [dataSource]="dsAnexos" style="width: 50%">
                    <ng-container matColumnDef="identifier" >
                        <td mat-cell *matCellDef="let element" (click)="viewAnexo(element.url)">
                            {{element.identifier}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <td mat-cell style="width: 20px;" *matCellDef="let element; let idx = index;">
                            <button mat-icon-button matTooltip="Eliminar anexo" [disabled]="element != row_hover"
                                    (click)="eliminarAnexo(idx, element.identifier)">
                              <mat-icon >delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="disclaimer">
                        <td mat-footer-cell *matFooterCellDef="let element" colspan="2" >
                            <button mat-mini-fab="" id="btn-add-prov-2"
                                    matTooltip="Agregar anexo" matTooltipPosition="before"
                                    style="float: right;     margin: 10px;" (click)="openAgregarAnexosDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </ng-container>


*                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAnexos;" (mouseover)="rowHover(row);" ></tr>

                    <tr mat-footer-row *matFooterRowDef="['disclaimer']; sticky: true;" class="example-second-footer-row" ></tr>


                </table>
            </div>

        <!--
          <button id="btn-guardar-datos" mat-fab [disabled]=datosForm.form.pristine matTooltip="Guardar cambios" matTooltipPosition="above"
                  (click)="saveDatos($event)">
            <mat-icon>check</mat-icon>
          </button>
        -->

      </div>
        <!-- </div> -->

    </mat-step>

            <!-- Proveedores -->
            <mat-step label="Cotizar Proveedores" errorMessage="Gtotexco" [completed]="groupProveedores.valid && editForm.form.pristine && justificacion.proveedor_selected">
      <div class="subtitulos-tabs">Comparar y seleccionar proveedores</div>
      <table mat-table [dataSource]="dsProveedores">

          <!--
          <ng-container matColumnDef="index" >
            <th mat-header-cell *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="width: 20px;" >
              <span matBadge="{{i+1}}" style="position: absolute;"></span>
            </td>
          </ng-container>
          -->

          <ng-container matColumnDef="seleccionar">
            <th mat-header-cell *matHeaderCellDef >Selección</th>
            <td mat-cell style="width: 60px;" *matCellDef="let element">
               <mat-slide-toggle  [checked]="element.id == justificacion.proveedor_id" (change)="doSeleccionar($event, element)"
                                 (click)="clickSeleccionar($event)" color="primary" matTooltip="Seleccionar" matTooltipPosition="after" ></mat-slide-toggle>
            </td>
          </ng-container>

          <ng-container matColumnDef="clave" >
            <th mat-header-cell *matHeaderCellDef > Clave </th>
            <td mat-cell style="width: 40px; font-style: italic;" *matCellDef="let element" (click)="doSeleccionar($event, element)" [class.row-selected]="element.id == justificacion.proveedor_id" > {{element.clave}} </td>
          </ng-container>

          <ng-container matColumnDef="razon_social" >
            <th mat-header-cell *matHeaderCellDef > Razón social </th>
            <td mat-cell *matCellDef="let element" (click)="openProveedorDialog(null, element)" [class.row-selected]="element.id == justificacion.proveedor_id"> {{element.razon_social}} </td>
          </ng-container>

          <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell style="width: 120px;"*matCellDef="let element" [class.row-selected]="element.id == justificacion.proveedor_id" > {{currencyMonto(element)}} </td>
          </ng-container>

          <ng-container matColumnDef="moneda">
              <th mat-header-cell *matHeaderCellDef> Moneda </th>
              <td mat-cell style="width: 60px;"*matCellDef="let element" [class.row-selected]="element.id == justificacion.proveedor_id" > {{element?.moneda?.code}} </td>
          </ng-container>

          <ng-container matColumnDef="fuente" >
            <th mat-header-cell *matHeaderCellDef > Fuente </th>
            <td mat-cell style="width: 80px;" *matCellDef="let element" [class.row-selected]="element.id == justificacion.proveedor_id" > {{fuenteTxt(element.fuente)}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef > Acciones </th>
            <td mat-cell style="width: 120px;" *matCellDef="let element">
              <span class="acciones">
                <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="openProveedorDialog($event, element)" matTooltip="Editar">
                  <mat-icon >edit</mat-icon>
                </button>
                <button mat-icon-button color="" [disabled]="element.id != row_hover" matTooltip="Eliminar" (click)="openEliminarProveedorDialog($event, element.id, element.razon_social)" >
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="" [disabled]="element.id != row_hover" matTooltip="Generar solicitud de cotización" (click)="cotizar($event, element.id)" >
                  <mat-icon class="cotizar-send">send</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="disclaimer">

            <td mat-footer-cell *matFooterCellDef="let element" colspan="6" >


        <!--
                <button [disabled]="!isEdicion()" class="btn-notificar" color="accent" mat-flat-button (click)="openNotificarDialog()"
                        matTooltip="Una vez enviada la notificación no se podrán modificar los datos de compra" matTooltipPosition="above"
                        [disabled]="justificacion.proveedores?.length <= 0 || justificacion.fecha_mercado == null || editForm.form.dirty">
                  <mat-icon>description</mat-icon>
                  Notificar a Compras
                </button>

                <span>{{empleado.is_asistente}} | {{empleado.is_admin}}</span>
        -->
                <button mat-mini-fab="" id="btn-add-prov" (click)="addNewProveedor()"
                        matTooltip="Agregar proveedor" matTooltipPosition="before"
                        style="float: right;     margin: 10px;">
                  <mat-icon>add</mat-icon>
                </button>


            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;" ></tr> <!-- style="display: none;" -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="rowHover(row.id)" ></tr>

          <tr mat-footer-row *matFooterRowDef="['disclaimer']; sticky: true;" class="example-second-footer-row" ></tr>

        </table>


                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="25px" style="padding-top: 30px;">
                    <mat-form-field class="flex-none" style="width: 200px;" matTooltip="Capture la requisición y presione <enter> o la lupa para comprobar si existe" matTooltipPosition="below" >
                        <input matInput placeholder="Requisición" name="requisicion"  [(ngModel)]="justificacion.requisicion" required>
                        <!--<button mat-icon-button matSuffix (click)="searchRequisicion(justificacion.requisicion)">-->
                        <button mat-icon-button matSuffix >
                            <mat-icon (click)="openRequisicionProveedorDialog(justificacion.requisicion)">search</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="flex-none" style="width: 200px;" >
                        <input matInput placeholder="Número de proyecto" name="proyecto"  [(ngModel)]="justificacion.proyecto" required>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px" style="    padding-top: 10px;">
                    <mat-form-field>
                        <mat-select placeholder="Partida" [(ngModel)]="justificacion.partida_id" name="partida_sel" required   > <!-- [compareWith]="comparePartida" -->
                            <mat-option *ngFor="let partida of partidas" [value]="partida.id" >
                                {{partida.texto}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

      <div  ngModelGroup="groupProveedores" #groupProveedores="ngModelGroup">
        <fieldset style="margin: 10px 0; border-color: lightgray;">
          <legend style="color: rgba(0, 0, 0, 0.54);">Orden de fechas <mat-icon>arrow_forward</mat-icon> </legend>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="25px" style="padding-right: 10px;">
            <mat-form-field class="flex-none" style="width: 240px; padding-right: 10px;" matTooltip="Fecha de la justificación" matTooltipPosition="above">
              <!-- class="mat-elevation-z8" style="border: 1px solid #673ab7; padding: 5px;" -->
              <mat-label><span>1</span> Fecha de elaboración</mat-label>
              <!-- <input type="date" name="fechaElaboracion" matInput placeholder="Fecha de elaboración" [ngModel]="justificacion.created_at | date:'yyyy-MM-dd'" [disabled]="!isAdmin()" > -->

                <input name="fechaElaboracion" matInput [matDatepicker]="fechaElaboracion" placeholder="Fecha de elaboración"
                       [(ngModel)]="justificacion.created_at"  required [disabled]="!isAdmin()">
                <mat-datepicker-toggle matSuffix [for]="fechaElaboracion"></mat-datepicker-toggle>
                <mat-datepicker #fechaElaboracion></mat-datepicker>


              <mat-hint>Se autogenera</mat-hint>
            </mat-form-field>
              <mat-form-field class="flex-none" style="width: 240px; padding-right: 10px;" matTooltip="Fecha límite para que cada proveedor entregue su cotización" matTooltipPosition="above">
                <mat-label><span>2</span> Fecha límite para cotizar</mat-label>
                  <input name="fechaCotizar" matInput [matDatepicker]="fechaCotizar" placeholder="Fecha límite para cotizar"
                         [(ngModel)]="justificacion.fecha_cotizar"  required >
                  <mat-datepicker-toggle matSuffix [for]="fechaCotizar"></mat-datepicker-toggle>
                  <mat-datepicker #fechaCotizar></mat-datepicker>
                  <mat-hint>De: elaboración</mat-hint>
                  <mat-hint align="end">A: mercado</mat-hint>
              </mat-form-field>
            <div class="flex-none" style="width: 240px; padding-right: 10px; display: inline-flex;">
              <mat-form-field class="flex-none"  matTooltip="Fecha en que ya se recibieron todas la cotizaciones y se puede generar el estudio de mercado" matTooltipPosition="above">
                <mat-label><span>3</span> Fecha de estudio de mercado</mat-label>
                <input name="fechaMercado" matInput [matDatepicker]="fechaMercado" placeholder="Fecha de estudio de mercado"
                       [(ngModel)]="justificacion.fecha_mercado" required>
                <mat-datepicker-toggle matSuffix [for]="fechaMercado"></mat-datepicker-toggle>
                <mat-datepicker #fechaMercado></mat-datepicker>
                <mat-hint>De: cotización</mat-hint>
                <mat-hint align="end">A: emisión</mat-hint>
                <!--
                <button mat-icon-button matPrefix><mat-icon>account_balance</mat-icon></button>
                <button mat-mini-fab matSuffix (click)="mercado()" matTooltip="Generar estudio de mercado para determinar si se presenta a comité" matTooltipPosition="below">
                  <mat-icon aria-label="Example icon-button with a heart icon">account_balance</mat-icon>
                </button>
                -->
              </mat-form-field>
              <!-- <span *ngIf="!hasCompranet()" style="display: block; margin-bottom: 10px; line-height: 3px; font-size: smaller; color: #f44336;">Al menos un proveedor debe ser Compranet</span> -->
              <div style="padding-top: 24px; padding-left: 3px;">
                <button class="btn-cotizar" color="accent" mat-flat-button (click)="mercado()" style="min-width: 44px;"
                        matTooltip="Generar estudio de mercado para determinar si se presenta a comité"
                        matTooltipPosition="above"
                        [disabled]="justificacion.proveedores?.length <= 0 || justificacion.fecha_mercado == null || editForm.form.dirty">
                  <mat-icon>account_balance</mat-icon>
                </button>
                </div>
            </div>
          </div>
        </fieldset>
        <div *ngIf="!justificacion.proveedor_selected" class="div-container-edit">
          <h4>No ha seleccionado proveedor</h4>
        </div>
        <div *ngIf="justificacion.proveedor_selected"class="div-container-edit">

          <!--
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px" style="margin-bottom: 20px;" >
            <label>Proveedor: </label><h3>{{justificacion?.proveedor_selected?.razon_social}}</h3>
          </div>
          -->

          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px" style="margin-bottom: 20px;" >
            <mat-form-field >
              <textarea mat-autosize maxlength="600" matInput placeholder="Motivo de la selección del proveedor" name="motivo_seleccion" #motivo_seleccion
                        [(ngModel)]="justificacion.motivo_seleccion" required></textarea>
              <mat-hint align="end">{{motivo_seleccion.value.length}} / 600</mat-hint>
            </mat-form-field >
          </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="25px" >
                <mat-checkbox  name="economica" [(ngModel)]="justificacion.economica" color="primary" #economica_chk></mat-checkbox>
                <mat-form-field >
                  <textarea mat-autosize maxlength="2000" matInput placeholder="Económica" name="economica_txt" #economica_txt
                        [(ngModel)]="justificacion.economica_txt" required [disabled]="!economica_chk.checked"></textarea>
                    <mat-hint align="end">{{economica_txt.value.length}} / 2000</mat-hint>
                </mat-form-field >
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="25px" >
                <mat-checkbox name="eficiente" [(ngModel)]="justificacion.eficiente" color="primary" #eficiente_chk></mat-checkbox>
                <mat-form-field >
                  <textarea mat-autosize maxlength="2000" matInput placeholder="Eficiente" name="eficiente_txt" #eficiente_txt
                            [(ngModel)]="justificacion.eficiente_txt" required [disabled]="!eficiente_chk.checked"></textarea>
                    <mat-hint align="end">{{eficiente_txt.value.length}} / 2000</mat-hint>
                </mat-form-field >
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="25px">
                <mat-checkbox name="eficaz" [(ngModel)]="justificacion.eficaz" color="primary" #eficaz_chk></mat-checkbox>
                <mat-form-field >
                  <textarea mat-autosize maxlength="2000" matInput placeholder="Eficaz" name="eficaz_txt" #eficaz_txt
                            [(ngModel)]="justificacion.eficaz_txt" required [disabled]="!eficaz_chk.checked"></textarea>
                    <mat-hint align="end">{{eficaz_txt.value.length}} / 2000</mat-hint>
                </mat-form-field >
            </div>

          <!--
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
            <mat-form-field fxFill>
              <textarea mat-autosize  maxlength="400" matInput placeholder="Forma de pago (cheque, transferencia bancaria, depósito, etc.)" name="forma_pago" #forma_pago
                        [(ngModel)]="justificacion.forma_pago" required></textarea>
              <mat-hint align="end">{{forma_pago.value.length}} / 200</mat-hint>
            </mat-form-field >
          </div>
          -->

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="25px">
                <label>Pago</label>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="25px" style="padding-right: 30px;">
                <mat-form-field style="width: 100px;">
                    <span matPrefix>#</span>
                    <input class="right" number matInput placeholder="Parcialidad(es)" name="num_pagos"  [(ngModel)]="justificacion.num_pagos"required type="number" min="1" max="12">
                </mat-form-field>
                <mat-form-field style="width: 100px;" matTooltip="Porcentaje de anticipo" matTooltipPosition="below">
                    <span matPrefix>%</span>
                    <input class="right" matInput placeholder="Anticipo" name="porcen_anticipo"  [(ngModel)]="justificacion.porcen_anticipo"required>
                </mat-form-field>
                <mat-form-field style="width: 100px;" matTooltip="Porcentaje de garantía de cumplimento" matTooltipPosition="below">
                    <span matPrefix>%</span>
                    <input class="right" matInput placeholder="Garantía" name="porcen_garantia"  [(ngModel)]="justificacion.porcen_garantia"required>
                </mat-form-field>
                <!--
                <mat-form-field style="width: 250px;">
                    <mat-select placeholder="Moneda" [(ngModel)]="justificacion.moneda_id" name="moneda" required >
                        <mat-option *ngFor="let moneda of monedas" [value]="moneda.id">
                            {{moneda.code}} {{moneda.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                -->
            </div>

          <div fxLayout="column" fxLayoutAlign="space-around end" fxLayoutGap="25px">

              <div style="color: rgba(0, 0, 0, 0.54);">{{justificacion.proveedor_selected?.moneda?.nombre}}</div>

            <mat-form-field style="width: 200px;">
              <span matPrefix>{{justificacion.proveedor_selected?.moneda?.simbolo}} &nbsp;</span>
              <input currencyMask class="right" matInput placeholder="Subtotal" name="subtotal"  [ngModel]="monto()"
                     [options]="{ prefix: '', thousands: ',', decimal: '.' }" required [disabled]="true">
                <mat-hint>Proveedor seleccionado&nbsp;{{justificacion.proveedor_selected?.moneda?.nombre}}</mat-hint>
            </mat-form-field>
            <mat-form-field style="width: 200px;">
              <span matPrefix>{{justificacion.proveedor_selected?.moneda?.simbolo}} &nbsp;</span>
              <input currencyMask class="right" matInput placeholder="IVA" name="iva"  [(ngModel)]="justificacion.iva"
                     [options]="{ prefix: '', thousands: ',', decimal: '.' }" required>
              <mat-hint align="start">Cantidad (no porcentaje)</mat-hint>
            </mat-form-field>
            <mat-form-field style="width: 200px;">
              <span matPrefix>{{justificacion.proveedor_selected?.moneda?.simbolo}} &nbsp;</span>
              <input currencyMask class="right" matInput placeholder="Total" name="importe"  [value]=importe()
                     [options]="{ prefix: '', thousands: ',', decimal: '.' }" required [disabled]="true">
              <mat-hint>Subtotal + IVA</mat-hint>
            </mat-form-field>
          </div>

          <!--
          <button class="btn-cotizar" color="accent" color="accent" mat-flat-button (click)="mercado()" style="float: right; margin-top: 30px;"
                  matTooltip="Generar {{justiDicta(justificacion.tipo.fraccion)}}" matTooltipPosition="before">
            <mat-icon>description</mat-icon>
            {{justiDicta(justificacion.tipo.fraccion)}}
          </button>
          -->

        </div>
      </div>
    </mat-step>

            <!-- Definicion -->
            <mat-step label="Tramitar ante comité"  > <!-- [disabled]="!hasCompranet()" -->

      <div class="subtitulos-tabs">En su caso, someter el asunto a comité</div>

      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="25px">
            <label>Fracción * <span style="font-style: italic;">Consultar con personal de adquisiciones</span></label>
        </div>

                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="25px">
                    <table mat-table [dataSource]="dsTipos">
                        <ng-container matColumnDef="seleccionar">
                            <td mat-cell style="width: 60px;" *matCellDef="let element">
                                <mat-slide-toggle color="primary" [checked]="element.id == justificacion.tipo_id" (change)="doSeleccionarTipo($event, element)"
                                                  matTooltip="Seleccionar" matTooltipPosition="after"></mat-slide-toggle>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="romano">
                            <td mat-cell style="" *matCellDef="let element">
                                <strong>{{element.romano}}</strong>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="texto">
                            <td mat-cell style="" *matCellDef="let element">
                                <div>{{element.code}}</div>
                                <div style="font-style: italic; padding-top: 3px;">{{element.descripcion}}</div> <!--  color: rgba(0, 0, 0, 0.54); -->
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="element.fraccion == 8">
                                    <mat-form-field appearance="outline">
                            <textarea #acreditacion_marca mat-autosize maxlength="2000" matInput [(ngModel)]="justificacion.acreditacion_marca" name="acreditacion_marca"
                                      [disabled]="element.id != justificacion.tipo_id"></textarea>
                                        <mat-hint>Sustente la acreditación de usar una marca en específico</mat-hint>
                                        <mat-hint align="end">{{acreditacion_marca.value.length}} / 2000</mat-hint>
                                    </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTipos;" (mouseover)="rowHover(row)"
                            [hidden]="justificacion.bien_servicio==1 && row.fraccion == 8"></tr>

                    </table>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-around end" fxLayoutGap="25px" style="display: block;">
            <mat-form-field class="flex-none" style="width: 240px; padding-right: 10px;"
                            matTooltip="Fecha en que se firma la Justifiación o Dictamen" matTooltipPosition="above">
                <mat-label><span>4</span> Fecha de emisión</mat-label>
                <input name="fechaFirma" matInput [matDatepicker]="pickerFirma" placeholder="Fecha de emisión"
                       [(ngModel)]="justificacion.fecha_elaboracion" required>
                <mat-datepicker-toggle matSuffix [for]="pickerFirma"></mat-datepicker-toggle>
                <mat-datepicker #pickerFirma></mat-datepicker>
                <mat-hint align="start" >Fecha en que se firma</mat-hint>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-around end" fxLayoutGap="25px" style="display: block;">
                <button id="btn-pdf" mat-flat-button [disabled]="(!editForm.form.valid || editForm.form.dirty || !justificacion.proveedor_selected)" (click)="openImprimirDialog()"
                        style="margin-right: 10px;"  matTooltip="Generar {{justiDicta(justificacion.tipo.fraccion)}}" matTooltipPosition="above">
                    <mat-icon>description</mat-icon>
                    {{justiDicta(justificacion.tipo.fraccion)}}
                </button>
            </div>
        </div>
    </mat-step>

        </mat-horizontal-stepper>
    </form>

    <div style="height: 60px; background-color: white;">
        <!-- chafa: evita que la forma se esconda -->
    </div>

  <mat-toolbar id="div-footer-edit">

      <div class="buttons-layout-left">
        <button mat-mini-fab color="accent" id="btn-back-2" (click)="backToTable()" matTooltip="Regresar a solicitudes" matTooltipPosition="after">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>

    <div class="buttons-layout-right">

      <button id="btn-guardar" mat-flat-button matTooltip="Guardar cambios" matTooltipPosition="above"
              (click)="saveDatos($event)" [disabled]=editForm.form.pristine>
        <mat-icon>check</mat-icon>
        Guardar
      </button>

    </div>
    <div class="buttons-layout-left-bottom">
    </div>
  </mat-toolbar>


</mat-sidenav-container>
