
<mat-progress-bar #matBuffer value="0" [bufferValue]="valueBuffer" mode="buffer"></mat-progress-bar>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px" id="div-header-table">
  <h2 style="font-weight: 300;">Justificaciones</h2>
  <mat-form-field id="field-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar..." style="">
    <mat-hint align="start">Escriba el término a buscar</mat-hint>
    <mat-hint align="end">Mostrando {{dataSource?.filteredData?.length}} de {{dataSource?.data?.length}} justificaciones</mat-hint>
  </mat-form-field>
</div>

<mat-sidenav-container id="div-container-table" *ngIf="auth.isAuthenticated()" >

  <table mat-table [dataSource]="dataSource" > <!-- matSort  (matSortChange)="tablaSortChange($event)" matSortActive="fecha_elaboracion" matSortDirection="desc" -->

    <!--
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'"> No </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    -->

    <ng-container matColumnDef="identificador" >
      <th mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Identificador </th> <!-- mat-sort-header-->
      <td mat-cell *matCellDef="let element" [innerHTML]="element?.identificador | highlight: filterValue" matTooltip="{{element.id}}"> {{element.identificador}} </td>
    </ng-container>

    <ng-container matColumnDef="requisicion" >
      <th mat-header-cell *matHeaderCellDef > Requisición </th> <!-- mat-sort-header-->
      <td mat-cell *matCellDef="let element">
        <strong [innerHTML]="element?.requisicion | highlight: filterValue">{{element.requisicion}}</strong>
      </td>
    </ng-container>

    <ng-container matColumnDef="creador_cuenta_cimav" *ngIf="isAsistente()">
      <th mat-header-cell *matHeaderCellDef  [ngClass]="'customWidthClass'" style="width: 130px;"> Creador </th> <!-- mat-sort-header-->
      <td mat-cell *matCellDef="let element" [innerHTML]="element?.creador_cuenta_cimav | highlight: filterValue" matTooltip="{{element.creador_id}}"> {{element.creador_cuenta_cimav}} </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="fecha_elaboracion" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'" style="width: 120px;"> Fecha </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element?.created_at | date: 'dd/MM/yyyy' | highlight: filterValue">{{element.created_at}}</td>
    </ng-container>
    -->

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef > Descripción </th> <!-- mat-sort-header-->
      <td mat-cell *matCellDef="let element" [innerHTML]="truncate(element?.descripcion, 800) | highlight: filterValue" > {{truncate(element?.descripcion, 800)}} </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef style="   width: 120px;"> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <span class="acciones">
          <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="justificacionChanged($event, element.id)"
                  matTooltip="Editar">
            <mat-icon >edit</mat-icon>
          </button>
          <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="openReplicarDialog($event, element)"
                  matTooltip="Replicar">
            <mat-icon >file_copy</mat-icon>
          </button>
          <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="openEliminarDialog($event, element.id, element.identificador)"
                  matTooltip="Eliminar">
            <mat-icon >delete</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>
    -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef style="   width: 20px;"> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="justificacionChanged($event, element.id)"
                matTooltip="Editar">
          <mat-icon >edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="replicar">
      <th mat-header-cell *matHeaderCellDef style="   width: 50px;"> Replicar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="openReplicarDialog($event, element)"
                matTooltip="Replicar">
          <mat-icon >file_copy</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef style="   width: 20px;"> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="" [disabled]="element.id != row_hover" (click)="openEliminarDialog($event, element.id, element.identificador)"
                matTooltip="Eliminar">
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="disclaimer" >
      <td mat-footer-cell *matFooterCellDef="let element" colspan="8" style="border-top: 1px dotted lightgray;" >
        <span id='texto_ayuda_tabla' style="float:left;">
          <!--<p>Doble click sobre el renglón para editar</p>-->
          <p>Click sobre el encabezado para ordenar por columna</p>
        </span>
        <button mat-mini-fab="" id="btn-add" (click)="openCrearDialog()"
                matTooltip="Agregar nueva justificación" matTooltipPosition="before"
                style="float: right;     margin: 10px;">
          <mat-icon>add</mat-icon> <!-- note_add -->
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="rowHover(row.id)" (click)="justificacionChanged(null, row.id)"></tr>

    <tr mat-footer-row *matFooterRowDef="['disclaimer']; sticky: true;" ></tr>

  </table>


</mat-sidenav-container>

<!--
<mat-toolbar id="div-footer-table">
  <div class="buttons-layout-right">
    <button mat-flat-button color="primary" id="btn-add-old" (click)="openCrearDialog()" matTooltip="Agregar nueva justificación"
            matTooltipPosition="before" style="z-index: 100; bottom: 10px; right: 10px;position: absolute;}">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
</mat-toolbar>
-->


